.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Page {
  flex: 1;
  height: 100vh;
}

.Page-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.Page-header {
  margin-bottom: 1rem;
}

.Page-button {
  width: 10rem;
}

.Page-row {
  margin: 1rem 0;
}
